@import "tailwindcss";

* {
  font-family: "Signika Negative", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 900ms ease-out;
}